* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #9d8665;
  color: azure;
  font-size: 1.5rem;
}

#container {
  display: block;
  max-width: 49.9rem;
  margin: 7rem auto;
  padding: 1rem;
  position: relative;
}

#slider-container {
  max-width: 99%;
  overflow: hidden;
}

#slider-container>ul {
  list-style: none;
  width: 206vw;
  overflow: hidden;
  position: relative;
  left: 0;
  transition: left 0.5s;
}

@media (max-width: 320px) {
  #slider-container>ul {
    width: 445vw;
  }
}

#slider-container>ul>li {
  width: 20%;
  float: left;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

#slider-container>ul>li p {
  max-width: 20rem;
}

input[type=radio] {
  visibility: hidden;
}

#container label {
  position: absolute;
  left: 89%;
  bottom: 2.8rem;
  z-index: 100;
  width: 1rem;
  height: 1rem;
  background: rgb(128, 41, 0);
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 50%;
  border: 0.2rem solid rgb(128, 41, 0);
}

@media (max-width: 832px) {
  #container label {
    position: absolute;
    left: 53%;
    bottom: 6.7rem;
  } 
}

.label-area {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  transform: translate(-30%, -30%);
}

#container label:hover {
  background: rgb(245, 243, 242);
  border: 0.2rem solid rgb(245, 243, 242);
  transition: all 0.5s;
}

#container label:active {
  opacity: 0.5;
  transition: all 0.5s;
}

#container #btn1:checked~label[for=btn1] {
  background: transparent;
}
#container #btn2:checked~label[for=btn2] {
  background: transparent;
}
#container #btn3:checked~label[for=btn3] {
  background: transparent;
}
#container #btn4:checked~label[for=btn4] {
  background: transparent;
}

#container label[for=btn1] {
  margin-left: -5rem;
}
#container label[for=btn2] {
  margin-left: -2.5rem;
}
#container label[for=btn4] {
  margin-left: 2.5rem;
}

#container #btn1:checked~#slider-container>ul {
  left: 0;
}
#container #btn2:checked~#slider-container>ul {
  left: -100%;
}
#container #btn3:checked~#slider-container>ul {
  left: -200%;
}
#container #btn4:checked~#slider-container>ul {
  left: -300%;
}