* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  user-select: none;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

body {
  background-color: #9d8665;
  color: azure;
  font-size: 1.5rem;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 49.9rem;
  margin: 4rem auto;
  padding: 1rem;
  position: relative;
}

#slider-container {
  max-width: 100%;
  overflow: hidden;
}

#slider-container>ul {
  list-style: none;
  width: 400%;
  overflow: hidden;
  position: relative;
  left: 0;
  transition: left 0.5s;
}

#slider-container>ul>li {
  width: 25%;
  float: left;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

#slider-container>ul>li p {
  max-width: 20rem;
}



input[type=radio] {
  visibility: hidden;
}

.slider-panel {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  position: relative;
  bottom: 4.5rem;
  background-color: #9d8665;
  height: 5rem;
}

@media (max-width: 550px) {
  .slider-panel {
    bottom: 6rem;
    height: 3rem;
  } 
}

@media (max-width: 343px) {
  .slider-panel {
    bottom: 8rem;
    right: 15%;
    height: 3rem;
  } 
}

#container label {
  width: 4rem;
  height: 4rem;
  padding: 1.2rem;
  cursor: pointer;
}

@media (max-width: 790px) {
  #container label {
    width: 3rem;
    height: 3rem;
    padding: 1rem;
  } 
}

.label-area {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: rgb(128, 41, 0);
  transition: all 0.5s;
  border-radius: 50%;
  border: 0.2rem solid rgb(128, 41, 0);
}

label:hover>.label-area {
  background: rgb(245, 243, 242);
  border: 0.2rem solid rgb(245, 243, 242);
}

.label-area:active {
  opacity: 0.5;
}

label:focus>.label-area {
  background-color: transparent;
  border: 0.2rem solid rgb(128, 41, 0);
}

#container #btn1:checked~#slider-container>ul {
  left: 0;
}
#container #btn2:checked~#slider-container>ul {
  left: -100%;
}
#container #btn3:checked~#slider-container>ul {
  left: -200%;
}
#container #btn4:checked~#slider-container>ul {
  left: -300%;
}