* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #9d8665;
  color: azure;
  font-size: 1.5rem;
}

#container {
  display: block;
  max-width: 49.9rem;
  min-height: 27rem;
  margin: 10rem auto;
  position: relative;
}

#slider-container {
  max-width: 99%;
  min-height: 27rem;
  overflow: hidden;
  position: relative;
}

#slider-container>ul {
  list-style: none;
  min-height: 27rem;
  width: 247rem;
  overflow: hidden;
  position: relative;
  left: 0;
  transition: left 0.5s;
}

#slider-container>ul>li {
  width: 20%;
  float: left;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

#slider-container>ul>li>img {
  border-radius: 1rem;
}

#slider-container>ul>li p {
  max-width: 20rem;
}

#container input[type=radio] {
  position: relative;
  left: 50%;
  bottom: 10rem;
  z-index: 100;
  visibility: hidden;
}

#container label {
  position: absolute;
  left: 92%;
  bottom: 30px;
  z-index: 100;
  width: 1rem;
  height: 1rem;
  background: rgb(128, 41, 0);
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 50%;
  border: 3px solid rgb(128, 41, 0);
}

#container label:hover {
  background: rgb(245, 243, 242);
  border: 3px solid rgb(245, 243, 242);
  transition: all 0.5s;
}

#container label:active {
  opacity: 0.5;
  transition: all 0.5s;
}

#container #btn1:checked~label[for=btn1] {
  background: transparent;
}
#container #btn2:checked~label[for=btn2] {
  background: transparent;
}
#container #btn3:checked~label[for=btn3] {
  background: transparent;
}
#container #btn4:checked~label[for=btn4] {
  background: transparent;
}

#container label[for=btn1] {
  margin-left: -4rem;
}
#container label[for=btn2] {
  margin-left: -2rem;
}
#container label[for=btn4] {
  margin-left: 2rem;
}

#container #btn1:checked~#slider-container>ul {
  left: 0;
}
#container #btn2:checked~#slider-container>ul {
  left: -100%;
}
#container #btn3:checked~#slider-container>ul {
  left: -200%;
}
#container #btn4:checked~#slider-container>ul {
  left: -300%;
}